table {
    max-width: 50%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table tr th img {
    max-width: 400px;
}


.container {
    display: flex;
}

article h3 {
    margin: 10px 0px;
}

article p {
    margin: 10px 0px;
}